<div class="col-lg-12">
    <h1>@ViewBag.Article.Header</h1>
</div>

<div class="col-lg-12">
    @ViewBag.Article.Content
</div>
<hr />
<form method="post">

    @{
        for (int i = 0; i < 4; i++)
        {
            <h3>Soru @(i+1)</h3>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Soru @(i+1)" name="question@(i)" required>
                </div>
            </div>
            <br /><br />
            <h5>Soru @(i+1)'in cevapları</h5>
            <div class="row">
                @{
                    for (int j = 1; j < 5; j++)
                    {
                        string newLineString = "</div><br /><div class='row'>";
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Cevap @j" name="question@(i)_answer@(j-1)" required>
                        </div>
                        if (j % 2 == 0 && j != 4)
                        {
                            @Html.Raw(newLineString)
                        }
                    }
                }
            </div>
            <label>Doğru Cevap:</label>
            <select class="form-control" name="question@(i)_correctanswer" required>
                <option value="0">1. cevap</option>
                <option value="1">2. cevap</option>
                <option value="2">3. cevap</option>
                <option value="3">4. cevap</option>
            </select>
            <hr />
        }
    }
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-success">Sınavı Kaydet</button>
        </div>
    </div>
    <br /><br />
</form>