@using Entities.Abstract
@using Core.Utilities

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sınav Sistemi@(ViewBag.PageTitle!=null?" | "+ ViewBag.PageTitle : "")</title>

    <!-- Bootstrap core CSS -->
    <link href="~/StaticFiles/Shared/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/StaticFiles/Shared/css/dashboard.css" rel="stylesheet">
    <link href="~/StaticFiles/Shared/css/toastr.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Sınav Sistemi</a>
        @*<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">*@
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="~/sign/out">Çıkış</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        @{
                            foreach (MenuDTO item in ViewBag.Menu)
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(item.Active==true?"active":"")" href="@ViewBag.BaseUrl@item.Url">
                                        <span data-feather="list"></span>&nbsp;@item.PageTitle<span class="sr-only">(current)</span>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">@ViewBag.PageTitle</h1>
                </div>

                @RenderBody()
            </main>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="~/StaticFiles/Shared/js/popper.min.js"></script>
    <script src="~/StaticFiles/Shared/js/bootstrap.min.js"></script>
    <script src="~/StaticFiles/Shared/js/toastr.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>

    @await Html.PartialAsync("~/Views/Shared/Partials/SystemMessageScripts.cshtml")

<script type="text/javascript">
        $(function () {
            var listQuestionId = Array();
            @{
                if (!Tools.IsObjectNullOrEmpty(ViewBag.QuestionIdArray))
                {
                    @Html.Raw(ViewBag.QuestionIdArray)
                }
            }
            $('#finishExam').click(function () {
                var examId = $(this).attr('data-id');
                var givenExamAnswers = {};
                for (i = 0; i < listQuestionId.length; i++) {
                    givenExamAnswers['question'+listQuestionId[i]] = $('input[name ="question' + listQuestionId[i] + '"]:checked').val();
                }
                var givenExamAnswersJson = JSON.stringify(givenExamAnswers);
                $('.colAnswer').removeClass('bg-success');
                $('.colAnswer').removeClass('bg-danger');

                var url = '@(ViewBag.BaseUrl)exam/takeexamviaajax?accountId=@(ViewBag.AccountId)&examId=' + examId;

                $.ajax({
                    method: "POST",
                    url: url,
                    data: { givenExamAnswers },
                    success: function (response) {
                        toastr.success('Sınavınızı tamamladınız. Tebrikler.', 'Başarılı', { timeOut: 5000 });//bu sınav sonucundan bağımsız bir şekilde sınavın tamamlandıgını belirtiyor.
                        for (var i = 0; i < 4; i++) {
                            var answerId = response.TakenAnswers[i].AnswerId;
                            var correct = response.TakenAnswers[i].Correct;
                            var correctAnswerId = response.TakenAnswers[i].CorrectAnswerId;
                            if (correct == 1) {
                                console.log(answerId + " is correct");
                                $('#colAnswer' + answerId).addClass('bg-success');
                            }
                            else {
                                console.log(answerId + " is wrong, correct answer is " + correctAnswerId);
                                $('#colAnswer' + answerId).addClass('bg-danger');
                                $('#colAnswer' + correctAnswerId).addClass('bg-success');
                            }
                        }
                    }
                });

            });
        });
</script>
</body>
</html>
